// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.dashboardPage{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icondh{
    font-size: var(--h2FontSize);
}

img{
    width: 100%;
    height: auto;
}

.flexdh{
    display: flex;
    align-items: center;
}

.griddh{
    display: grid;
    align-items: center;
    gap: 1.5rem
}

.botndh .icon{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--inputColor) ;
    padding: .8rem 1rem;
    color: var(--greyText);
}

.botndh:hover{
    background: var(--paleBlue);
    color: var(--primaryColor);
}

.containerBody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.container{
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgdhColor);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px var(--greyText);
}

@media screen and (max-width: 990px) {
    .heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    
}